#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

DOT_IN_FILES := \
	libade0.install \
	libade-dev.install

%:
	dh $@

# Can't enable the tests as libgtest-dev in Buster is missing cmake files
CONFFLAGS := \
	-DCMAKE_BUILD_TYPE=Release \
	-DENABLE_ADE_TESTING=OFF \
	-DBUILD_ADE_TUTORIAL=OFF \
	-DFORCE_ADE_ASSERTS=OFF \
	-DBUILD_ADE_DOCUMENTATION=OFF \

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_clean:
	dh_auto_clean
	for file in $(DOT_IN_FILES); do rm -f debian/$${file}; done

override_dh_auto_install:
	dh_auto_install
	for file in $(DOT_IN_FILES); \
	do \
	  sed -e "s|\$${DEB_HOST_MULTIARCH}|$(DEB_HOST_MULTIARCH)|g" \
	  <debian/$${file}.in >debian/$${file}; \
	done
